.table-container{
    width: 75%;
    margin: 0 auto;
    background-color: #f0ead6;    
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: rgba(29, 29, 29, .2)
}